/* General styles */
body {
    overflow-x: hidden;
}

/* Container styles */
.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

/* Card styles */
.card {
    position: relative;
    height: 484px;
    width: 250px;
    margin: 40px 25px;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsla(0, 0%, 100%, 0.62);
    backdrop-filter: blur(3px);
    z-index: 2;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

.name {
    font-size: 20px;
    
}

.remove-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: grab;
}

/* Button styles */
.character-info .btn {
    width: 100%;
}

/* No characters message styles */
.no-characters {
    font-size: 40px;
    color: var(--text-color);
}