/* General styles
body {
    width: 100vw;
    height: 100vh;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
}

#info-container {
    width: 60%;
    height: auto;
    padding: 15px 50px;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.621);
    backdrop-filter: blur(2px);
}


.hero-name {
    display: flex;
    justify-content: center;
}


.hero-img-and-more-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-img {
    width: 20%;
    min-width: 120px;
    height: auto;
}


.more-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3rem;
}

.id,
.comics,
.series,
.stories {
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.hero-description {
    font-size: 1.1rem;
    text-align: left;
}

.hero-description b {
    font-size: 1.3rem;
}


.bg-img {
    z-index: -1;
}


@media screen and (max-width: 678px) {
    .hero-img-and-more-info {
        flex-direction: column;
        align-items: center;
    }

    .hero-description {
        text-align: center;
    }

    #info-container {
        width: 85%;
    }

    #landscapeImage {
        width: 100%;
    }

    .info {
        height: 100vh;
    }

    .more-info {
        gap: 0px;
    }
} */
/* General styles */
body {
    width: 100vw;
    height: 100vh;
}

/* Info container styles */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88%;
}

#info-container {
    width: 60%;
    height: auto;
    padding: 15px 50px;
    gap: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.621);
    backdrop-filter: blur(2px);
}

/* Hero name styles */
.hero-name {
    display: flex;
    justify-content: center;
}

/* Hero image and more info styles */
.hero-img-and-more-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-img {
    width: 20%;
    min-width: 120px;
    height: auto;
}

/* More info styles */
.more-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3rem;
}

.id,
.comics,
.series,
.stories {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* Hero description styles */
.hero-description {
    font-size: 1.1rem;
    text-align: left;
}

.hero-description b {
    font-size: 1.3rem;
}

/* Background image styles */
.bg-img {
    z-index: -1;
}

/* Responsive styles */
@media screen and (max-width: 678px) {
    .hero-img-and-more-info {
        flex-direction: column;
        align-items: center;
    }

    .hero-description {
        text-align: center;
    }

    #info-container {
        width: 85%;
    }

    #landscapeImage {
        width: 100%;
    }

    .info {
        height: 100vh;
    }

    .more-info {
        gap: 0px;
    }
}